body {
	background-repeat: no-repeat;
	background-position: center;
}

article {
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
}

@media (min-width: 992px) {
	article {
		margin-left: auto;
		margin-right: auto;
	}
}

article section p {
	text-align: left;
	line-height: 1.6em;
}

article section h2 {
	text-align: left;
}

.mast-home {
	position: fixed;
}

#main {
	display: none;
	position: fixed;
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: #333;
}